.sav
*sav*
*.tar
*.gz
*.Z
*.log
.old*
*.old*
.OLD*
*.OLD*
logs/
test
favicon.ico
archive
.project
.tmp*
tmp/
junk
*.new
*orig
*.bak*
*.swp
.nfs*
lost+found
attendees*
.tarexcludelist
prep.txt
.gitignore
